<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.omottec.demoapp">
    <!--android:sharedUserId="android.uid.system">-->

    <permission android:name="com.omottec.demoapp.permission.ACCESS_BOOK_SERVICE"/>
    <permission android:name="com.omottec.demoapp.permission.ACCESS_BOOK_PROVIDER"/>

    <uses-permission android:name="com.omottec.demoapp.permission.ACCESS_BOOK_SERVICE"/>
    <uses-permission android:name="com.omottec.demoapp.permission.ACCESS_BOOK_PROVIDER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.INSTALL_GRANT_RUNTIME_PERMISSIONS"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"-->
        <!--tools:ignore="ProtectedPermissions" />-->
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"
        tools:ignore="ProtectedPermissions" />
    <!--<uses-permission android:name="android.permission.ACCESS_CONTENT_PROVIDERS_EXTERNALLY"/>-->
    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="false"
        android:debuggable="true">
        <activity android:name=".task.StandardActivity"
            android:launchMode="standard">

        </activity>
        <activity android:name=".task.SingleTopActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".task.SingleTaskActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".task.SingleInstanceActivity"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".task.WelcomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>

        <activity android:name=".task.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".memory.LeakActivity">

        </activity>

        <activity
            android:name=".activity.StrictModeActivity">

        </activity>

        <activity android:name=".activity.DemoActivity">

        </activity>

        <activity android:name=".lifecycle.LifeCycleActivity1">

        </activity>

        <activity android:name=".lifecycle.LifeCycleActivity2">

        </activity>

        <activity
            android:name=".activity.LoadDexActivity"
            android:screenOrientation="portrait"
            android:process=":loaddex">

        </activity>

        <activity android:name=".touch.TouchActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ipc.fileAndBundle.DataWriteActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ipc.fileAndBundle.DataReadActivity"
            android:screenOrientation="portrait"
            android:process=":remote">

        </activity>

        <activity android:name=".ipc.messenger.MessengerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ipc.aidl.BookManagerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ipc.provider.ProviderActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ipc.socket.SocketActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ipc.binderPool.BinderPoolActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.WindowActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.DialogActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.AnimActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.AnimActivity1"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ShadowActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.TitleBarActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".view.viewpagerindicator.SampleTabsDefault"
            android:theme="@style/Theme.PageIndicatorDefaults">

        </activity>

        <activity android:name=".activity.NetAccessActivity">

        </activity>

        <activity android:name=".view.frame.TabPagerActivity">

        </activity>

        <activity android:name=".launch.RetailSplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".dao.NoteActivity">

        </activity>

        <activity android:name=".dao.UserActivity">

        </activity>

        <activity android:name=".dao.GoodActivity">

        </activity>

        <activity android:name=".dao.DaoActivity">

        </activity>

        <activity android:name=".lifecycle.SimpleTextActivity">

        </activity>

        <activity android:name=".view.vpFrag.VpTabActivity">

        </activity>

        <activity android:name=".dialog.TextDialogActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".fresco.BigPicActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".service.UseServiceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".service.StartServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".service.BindServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".context.MyAppCompactActitivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".immersive.ImmersiveCompareActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".immersive.NoImmersiveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".immersive.ImmersiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".launch.ActivityA"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".launch.ActivityB">

        </activity>
        <activity android:name=".launch.ActivityC">

        </activity>

        <activity android:name=".activity.TraverseViewActivity">

        </activity>

        <activity android:name=".activity.AptActivity">

        </activity>

        <activity android:name=".aspectj.AspectJActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HandlerActivity">

        </activity>

        <activity android:name=".activity.SubProcActivity"
            android:process=":subproc">

        </activity>

        <service android:name=".ipc.messenger.MessengerService"
            android:process=":remote">
        </service>

        <service android:name=".service.DemoService"
            android:process=":service">
        </service>

        <service android:name=".ipc.aidl.BookManagerService"
            android:process=":remote"
            android:permission="com.omottec.demoapp.permission.ACCESS_BOOK_SERVICE">
        </service>

        <service android:name=".ipc.socket.SocketService"
            android:process=":remote"/>

        <service android:name=".ipc.binderPool.BinderPoolService"
            android:process=":remote"/>

        <service android:name=".service.AppService"/>

        <service android:name=".root.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>

        <service android:name=".job.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name=".memory.ashmem.AshmemServer"
            android:process=":ashmem"/>

        <provider
            android:authorities="com.omottec.demoapp.provider"
            android:name=".ipc.provider.BookProvider"
            android:process=":provider"
            android:permission="com.omottec.demoapp.permission.ACCESS_BOOK_PROVIDER"/>

        <provider
            android:authorities="${applicationId}.DemoProvider"
            android:name="com.omottec.lib.a.DemoProvider"
            android:exported="false"
            tools:node="remove"
            android:multiprocess="false"/>

        <provider
            android:authorities="${applicationId}.provider.AshmemProcProvider"
            android:name=".provider.AshmemProcProvider"
            android:exported="false"
            android:process=":ashmem"/>

        <receiver android:name=".push.PushReceiver">
            <intent-filter>
                <action android:name="com.omottec.demoapp.intent.action_PUSH_MSG"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
